/* Contenedor principal */
.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  margin: 0;
}

/* Campos de búsqueda */
.search-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.search-field label {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Input de texto */
.search-input,
.search-date {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 200px;
  color: #7a7676;
  transition: border-color 0.3s;
  text-align: center;
}

.search-input:focus,
.search-date:focus {
  border-color: #092060; /* Azul más oscuro */
  outline: none;
}

/* Botón de búsqueda */
.search-button {
  margin: 23px auto;
  padding: 10px 20px;
  background-color: #E2F1E7;
  color: #092060;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #092060;;
  color: wheat;
}






/* Campos de búsqueda */
.search-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex: 1; /* Permite que los campos ocupen el mismo espacio */
}

.search-field label {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Input de texto */
.search-input,
.search-date {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100% !important; 
  min-width: 300px !important;
  color: #7a7676;
  transition: border-color 0.3s;
}

.search-input:focus,
.search-date:focus {
  border-color: #092060; /* Azul más oscuro */
  outline: none;
}

/* Ajustar las proporciones en pantallas pequeñas */
@media (max-width: 992px) {
  .search-bar {
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center;
  }
  .search-input,
  .search-date {
    
    min-width: 70dvw !important;
}

}


