.main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/hero-bg.jpg") center/cover no-repeat;
  color: #ffffff; /* Asegura que el texto sea legible sobre el fondo oscuro */
  min-height: 100vh; /* Ocupa toda la pantalla */
}
